@import './src/scss/mixins';
@import './src/scss/variables';

.QuizList {
  @include flex-column();
  align-items: center;
  padding-top: 50px;
  flex-grow: 1;
  width: 100%;
  @include background-gradient(#004df0, #d7dae2);

  h1 {
    color: $quiz-text-color;
    margin-left: 10px;
  }
  ul {
    li {
      @include set-border($border-color, 2px, 5px);
      list-style-type: none;
      margin-bottom: 10px;
      background-position: 0 0;
      padding: 5px 20px;
      &:hover {
        background: linear-gradient(
            to right,
            transparent,
            transparent 50%,
            #00c6ff 50%,
            #00c6ff
          )
          100% 0;
        background-size: 200% 100%;
        transition: all 0.25s ease-in;
      }
      a {
        color: #d7bcbc;
        text-decoration: none;
        font-size: 20px;
      }
    }
  }
}
