.Button {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 0.4em;
  align-items: center;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #f8f8f8;
  margin-top: 10px;
  margin-left: 15px;
  color: #0e0808;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;

  &:hover {
    outline: none;
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
  }
  &:disabled {
    background: #ffffff;
    color: #000000;
    cursor: not-allowed;
  }
}

.success {
  background: rgba(161, 240, 69, 1);
}

.primary {
  background: #2884f6;
  color: #ffffff;
}
