@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.AnswerItem {
  @include set-border($border-color, 2px, 5px);
  padding: 5px 10px;
  margin-bottom: 4px;
  cursor: pointer;

  &:hover {
    background: #5fa0f4;
    transition: background 0.3s ease-in-out;
  }
  &.wrong {
    @include blinkAnimation(wrong);
    @include frameAnimation(wrong, #ba1c1c);
  }

  &.right {
    @include blinkAnimation(right);
    @include frameAnimation(right, #24cb24);
  }



}
