@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.AnswerItem {
  @include set-border($border-color, 2px, 5px);
  padding: 5px 10px;
  margin-bottom: 4px;
  cursor: pointer;

  &:hover {
    background: #5fa0f4;
    transition: background 0.3s ease-in-out;
  }
  &.wrong {
    animation: wrong 1s linear infinite;
    @include frame-animation(wrong, #cf4141);
  }

  &.right {
    animation: right 1s linear infinite;
    @include frame-animation(right, #30c830);
  }
}
