@import '~antd/dist/antd.css';

.ResultDetails {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: stretch;
  margin-top: 50px;
  box-sizing: border-box;

  ul {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 0;

    li {
      word-break: break-word;
      list-style: none;
      border: rgba(124, 119, 119, 0.91) solid 2px;
      border-radius: 8px;
      box-sizing: border-box;
      margin: 0 0 5px 0;
      padding: 3px;
    }

    span {
      margin: 2px;
    }
  }
}
