@import './src/scss/mixins';

.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  @include background-gradient();

  h1 {
    color: #ffffff;
    text-align: center;
  }

  div {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;

    .AuthForm {
      background: #d8d0d0;
      @include box-shadow();
      padding: 15px;
      border-radius: 5px;
    }
  }
}
