@mixin flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin set-border(
  $color: #fff,
  $width: 2px,
  $radius: 15px,
  $style: solid
) {
  border: $color $style $width;
  border-radius: $radius;
}

@mixin frame-animation($name, $color) {
  @keyframes #{$name} {
    50% {
      opacity: 0;
      background: $color;
    }
  }
}

@mixin fade-in() {
  @keyframes fadeInFromNone {
    0% {
      display: none;
      opacity: 0;
    }

    1% {
      display: block;
      opacity: 0;
    }

    100% {
      display: block;
      opacity: 1;
    }
  }
}
